<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>

  <link rel="stylesheet" href="../assets/css/styles_about.css">
</head>

<body>
  <header>
    <a href="index.html" class="titleLink"> TutiOfThrones </a>
    <a href="about.html" class="aboutLink"> About </a>
  </header>

  <main>
    <div class="container">
      <p class="title"> About </p>
      <p class="text"> This is an challenge for somes members of Tutilabs, to enable the development process. </p>
    </div>
  </main>

</body>

</html>/