<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TutiOfThrones</title>

  <link rel="stylesheet" href="../assets/css/styles_index.css">
</head>

<body>
  <header>
    <a href="index.html" class="titleLink"> TutiOfThrones </a>
    <a href="about.html" class="aboutLink"> About </a>
  </header>
  <main>
    <div class="aboutText"></div>
  </main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="../assets/js/api.js"></script>

<script>
  (() => {
    'use strict';
    renderCharacters();
  })();
</script>

</html>